---
import '../styles/global.css'

const pageTitle = "Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} >
		<title>
			GLepo - 
         {pageTitle}
		</title>
	</head>
	<body>
		<div class="header">
         <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/blog/">{pageTitle}</a></li>
         </ul>
      </div>

		<div class="content">
			<h1>{pageTitle}</h1>
			<h2>Posts</h2>
			<ul>
				<li>March 10th, 2024 - <a href="/posts/post-20240310-1/">Post 1</a></li>
				<li><a href="">Temp</a></li>
			</ul>
		</div>

		<div class="footer">
			Footer
		</div>
	</body>
</html>