---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} >
		<title>
			GLepo - Blog
		</title>
	</head>
	<body>
      <!-- Link tree -->
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>

      <!-- Content -->
		<h1>Blog Page</h1>
      <h2>Posts</h2>
      <p>
         <a href="/posts/post-20240310-1/">March 10th, 2024 - Post 1</a>
      </p>
	</body>
</html>